
body {
  font-family: "Rubik", "sans-serfi";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.balance-container #balance {
  font-size: 1.5em;
}

.cashflow {
  display: flex;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 255, .2);
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;

}

.income-container {
  border-right: 2px solid rgba(0, 0, 255, .2);;
  padding-right: 20px;
}

.expense-container {
  padding-left: 20px;

}

#income {
  font-size: 1.3em;
  color: green;
}

#expense {
  font-size: 1.3em;
  color: red;
}

#transaction {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
 
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  box-shadow:  0px 1px 4px 1px rgba(0, 0, 255, .2);
  

}
.income-amt {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}
.expense-amt {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}
button {
  padding: 5px 10px 5px 10px;
  
}
form {
  display: flex;
  flex-direction: column;
}
label {
  padding-bottom: 10px;

}
input {
  height: 25px;
  margin-bottom: 10px;
} 
#incomeBtn {
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  background-color: green;
  color: white;
  margin-bottom: 10px;
  
}
#expenseBtn {
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  background-color: red;
  color: white;
}
